annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
click==8.3.3
fastapi==0.115.5
h11==0.16.0
httptools==0.7.1
idna==3.14
numpy==2.4.4
opencv-python==4.13.0.92
opencv-python-headless==4.13.0.92
pydantic==2.13.4
pydantic_core==2.46.4
python-dotenv==1.0.1
python-multipart==0.0.12
PyYAML==6.0.3
starlette==0.41.3
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.32.1
uvloop==0.22.1
watchfiles==1.1.1
websockets==13.1
